//colors
$vistaBlue: #3EBB8F;
$coconutCream: #E2F4CD;
$orange: #FA9F42;
$lightOrange: #F7C664;
$blue: #42C0FA;
$nandor: #515151;
$black: #000;
$white: #fff;

//fonts
$openSans: 'Open Sans', sans-serif;
$font-family: $openSans;
$font-size: 14px;
$font-color: $black;
$font-weight: normal;